@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Work+Sans:wght@200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  outline: 0;
}

body {
  scroll-behavior: smooth;
  overflow-x: hidden;
  font-family: var(--paraFont);
  color: var(--colorBlack);
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  display: inline-block;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  color: var(--colorBlack);
  font-family: var(--headingFont);
}


p,
span {
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  color: var(--paraColor);
  font-family: var(--paraFont);
}


img {
  width: 100% !important;
  height: 100% !important;
  object-fit: cover !important;
}

input::placeholder,
textarea::placeholder {
  color: #5C728E;
}

button {
  border: none;
  outline: none;
}

:root {
  --colorPrimary: #00A6FB;
  --colorSecondary: #2AC28E;
  --paraColor: #5C728E;
  --colorBlack: #031D36;
  --colorWhite: #ffffff;
  --paraFont: 'DM Sans', sans-serif;
  --headingFont: 'Work Sans', sans-serif;
  --boxShadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

/* ===========================
  COMMON CSS START
=============================*/
.tf__common_btn {
  font-size: 16px;
  font-weight: 500;
  font-family: var(--paraFont);
  text-transform: capitalize;
  padding: 10px 20px;
  color: var(--colorWhite);
  background: var(--colorPrimary);
  border-radius: 5px;
  transition: all linear .3s;
}

.tf__common_btn:hover {
  color: var(--colorWhite);
  background: #1a7aab;
}

.tf__common_heading h5 {
  font-size: 18px;
  font-weight: 700;
  font-family: var(--paraFont);
  color: var(--colorPrimary);
  border-left: 2px solid var(--colorPrimary);
  padding-left: 20px;
  text-transform: capitalize;
}

.tf__common_heading h2 {
  text-align: start;
  font-size: 44px;
  font-weight: 600;
  color: var(--colorBlack);
  text-transform: capitalize;
  margin-top: 22px;
}

.tf__common_heading p {
  text-align: start;
  font-size: 16px;
  margin-top: 22px;
}

/* ===========================
  COMMON CSS END
=============================*/


/* ===========================
  HOME PAGE START
=============================*/
/* topbar start */
.tf__topbar {
  width: 100%;
  height: 50px;
  background: var(--colorSecondary);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
}

.tf__topbar_link a {
  font-size: 16px;
  font-weight: 400;
  font-family: var(--paraFont);
  color: var(--colorWhite);
  margin-right: 25px;
  line-height: 50px;
}

.tf__topbar_link a i {
  margin-right: 12px;
}

.tf__topbar_icon {
  line-height: 50px;
  float: right;
}

.tf__topbar_icon li a {
  font-size: 16px;
  margin-left: 18px;
}

.tf__topbar_icon li a {
  color: var(--colorWhite);
}

/* topbar end */

/* main manu start */
.tf__main_menu {
  background: var(--colorWhite);
  width: 100%;
  height: 90px;
  position: fixed;
  top: 50px;
  left: 0;
  z-index: 99;
}

.tf__main_menu .navbar-brand {
  margin: 0;
  padding: 0;
  max-width: 185px;
}

.tf__main_menu .collapse .navbar-nav {
  margin-left: 125px;
  line-height: 90px;
}

.tf__main_menu .collapse .navbar-nav li {
  margin-right: 35px;
}

.tf__main_menu .collapse .navbar-nav li a {
  font-size: 16px;
  font-family: var(--paraFont);
  font-weight: 400;
  color: var(--colorBlack);
  text-transform: capitalize;
  transition: all linear .3s;
  padding: 0;
  margin: 0;
}

.tf__main_menu .collapse .navbar-nav li a:hover {
  color: var(--colorPrimary);
}

.tf__main_menu .collapse .navbar-nav li a.active {
  color: var(--colorPrimary);
}

.tf__search_box {
  font-size: 20px;
  color: var(--colorBlack);
  margin-right: 20px;
}

/* main manu end */



/* banner start */
.tf__banner {
  background: url(../images/banner_bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
  position: relative;
}

.tf__banner div {
  height: 100%;
}

.tf__banner_text {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-top: 215px;
}

.tf__banner_text h5 {
  font-size: 18px;
  font-weight: 700;
  font-family: var(--paraFont);
  color: var(--colorPrimary);
  border-left: 2px solid var(--colorPrimary);
  padding-left: 20px;
}

.tf__banner_text h1 {
  text-align: start;
  font-size: 56px;
  font-weight: 700;
  color: var(--colorBlack);
  text-transform: capitalize;
  margin-top: 22px;
  margin-bottom: 22px;
}

.tf__banner_text p {
  text-align: start;
  font-size: 18px;
  margin-bottom: 60px;
}

.tf__banner_counter {
  margin-top: 115px;
}

.tf__banner_counter li {
  text-align: start;
  margin-right: 40px;
}

.tf__banner_counter li h3,
.tf__banner_counter li span {
  font-size: 40px;
  font-weight: 600;
  font-family: var(--headingFont);
  color: var(--colorBlack);
}

.tf__banner_counter li p {
  font-size: 18px;
  text-transform: capitalize;
  margin-top: 5px;
  margin: 0;
}

.tf__banner_img {
  display: flex;
  justify-content: end;
  align-items: end;
  position: relative;
  z-index: 1;
}

.tf__banner_img img {
  height: 739px !important;
}

.tf__banner_img::after {
  position: absolute;
  content: "";
  background-image: url(../images/banner_img_bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 680px;
  height: 680px;
  z-index: -1;
  right: -17px;
  top: 207px;
}

.react img {
  position: absolute;
  top: 555px;
  right: -48px;
  width: 70px !important;
  height: 70px !important;
}

.video_call img {
  position: absolute;
  top: 212px;
  right: 128px;
  width: 70px !important;
  height: 70px !important;
}

.call img {
  position: absolute;
  top: 365px;
  left: -26px;
  width: 70px !important;
  height: 70px !important;
}

.review img {
  position: absolute;
  top: 559px;
  left: -147px;
  width: 167px !important;
  height: 90px !important;
}

.shape_1 {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 222px;
  left: 115px;
}

.shape_2 {
  position: absolute;
  width: 120px;
  height: 73px;
  bottom: 145px;
  left: 110px;
}

/* banner end */


/* about start */
.tf__about {
  padding: 160px;
}

.tf__about_img {
  position: relative;
}

.tf__video_one_img {
  position: absolute;
  width: 280px;
  height: 280px;
  top: 0;
  right: -49px;
}

.tf__video_one_img img {
  border-radius: 40px 0px 40px 40px !important;

}

.tf__video_tow_img {
  position: absolute;
  width: 255px;
  height: 255px;
  top: 35px;
  left: 0;
}

.tf__video_tow_img img {
  border-radius: 0px 40px 40px 40px !important;
}

.tf__video_tree_img {
  position: absolute;
  width: 170px;
  height: 170px;
  bottom: -490px;
  left: 85px;
}

.tf__video_tree_img img {
  border-radius: 40px 40px 40px 0px !important;
}

.tf__play_btn {
  position: absolute;
  width: 55px;
  height: 55px;
  line-height: 54px;
  text-align: center;
  background: var(--colorWhite);
  color: var(--colorPrimary);
  border-radius: 50%;
  bottom: -437px;
  left: 141px;
}











.tf__video_logo {
  position: absolute;
  width: 45px;
  height: 45px;
  top: 283px;
  left: 253px;
}

.tf__about_eax {
  position: absolute;
  width: 233px;
  height: 203px;
  background: var(--colorPrimary);
  bottom: -515px;
  right: 0px;
  border-radius: 40px 40px 0px 40px !important;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.tf__about_eax h3 {
  font-size: 64px;
  font-weight: 600;
  color: var(--colorWhite);
}

.tf__about_eax p {
  font-size: 21px;
  color: var(--colorWhite);
  text-transform: capitalize;
}

.tf__about_eax::after {
  position: absolute;
  content: "";
  width: 233px;
  height: 203px;
  border: 1px solid var(--colorSecondary);
  top: 15px;
  left: 15px;
  border-radius: 40px 40px 0px 40px;
  -webkit-border-radius: 40px 40px 0px 40px;
  -moz-border-radius: 40px 40px 0px 40px;
  -ms-border-radius: 40px 40px 0px 40px;
  -o-border-radius: 40px 40px 0px 40px;
}

.tf__video_shape {
  position: absolute;
  width: 58px;
  height: 42px;
  bottom: -515px;
  left: 60px;
}

.tf__about_iteam {
  margin-top: 45px;
  margin-bottom: 38px;
}

.tf__about_iteam li {
  font-size: 18px;
  font-weight: 500;
  text-transform: capitalize;
  font-family: var(--paraFont);
  width: 50%;
  position: relative;
  padding-left: 33px;
  margin-bottom: 18px;
}

.tf__about_iteam li::after {
  position: absolute;
  content: "\f00c";
  color: var(--colorWhite);
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
  top: 2px;
  left: 0;
  width: 23px;
  height: 23px;
  line-height: 24px;
  text-align: center;
  font-size: 11px;
  border-radius: 50%;
  background: var(--colorPrimary);
  transition: all linear .3s;
}

.shape_6 {
  position: absolute;
  width: 60px;
  height: 60px;
  top: 76px;
  left: 208px;
}

.shape_3 {
  position: absolute;
  width: 62px;
  height: 72px;
  bottom: 118px;
  left: 148px;
}

.shape_5 {
  position: absolute;
  width: 70px;
  height: 71px;
  top: 95px;
  right: 240px;
}

.shape_4 {
  position: absolute;
  width: 122px;
  height: 130px;
  bottom: 50px;
  right: 310px;
}

/* about end */

/* service start */

.tf__service {
  background: url(../images/services_bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 160px 0px;
  position: relative;
}

.srvice_head {
  text-align: center;
  margin-bottom: 84px;
}

.srvice_head h2 {
  text-align: center;
}

.tf__single_service {
  padding: 15px 15px 40px 15px;
  background: var(--colorWhite);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.tf__service_img {
  position: relative;
}

.tf__service_img img {
  width: 100%;
  height: 290px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.tf_service_icon {
  position: absolute;
  bottom: -30px;
  right: 20px;
  width: 60px;
  height: 60px;
  line-height: 60px;
  font-size: 30px;
  background: var(--colorSecondary);
  color: var(--colorWhite);
  text-align: center;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.tf_service_icon2 {
  background: var(--colorPrimary);
}

.tf_service_icon3 {
  background: #F7588D;
}

.tf__service_text {
  margin-top: 50px;
}

.tf__service_heading {
  font-size: 24px;
  font-weight: 600;
  font-family: var(--headingFont);
  color: var(--colorBlack);
  text-transform: capitalize;
  transition: all linear .3s;
  -webkit-transition: all linear .3s;
  -moz-transition: all linear .3s;
  -ms-transition: all linear .3s;
  -o-transition: all linear .3s;
}

.tf__single_service:hover .tf__service_heading {
  color: var(--colorPrimary);
}

.tf__service_text p {
  margin: 25px 0px;
}

.tf__service_link {
  font-size: 16px;
  font-weight: 500;
  font-family: var(--paraFont);
  color: var(--colorPrimary);
  text-transform: capitalize;
  transition: all linear .3s;
  -webkit-transition: all linear .3s;
  -moz-transition: all linear .3s;
  -ms-transition: all linear .3s;
  -o-transition: all linear .3s;
}

.tf__service_link:hover {
  color: var(--colorBlack);
}


.shape_7 {
  position: absolute;
  width: 227px;
  height: 38px;
  top: 200px;
  right: 200px;
}

.shape_8 {
  position: absolute;
  width: 57px;
  height: 65px;
  top: 195px;
  left: 461px;
}

.shape_4 {
  position: absolute;
  width: 95px;
  height: 100px;
  bottom: 100px;
  left: 110px;
}









/* service end */














/* ===========================
  HOME PAGE END
=============================*/










































































/* ===========================
  START
=============================*/
/* topbar start */
/* topbar start */

/* ===========================
  END
=============================*/